<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SD-NodeChat</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
        <link href="css/style.css" rel="stylesheet" />
    </head>

    <body>
        <div data-role="page">

            <div data-role="header" data-position="fixed">
                <h1>SD-NodeChat</h1>
                <a href="#friend-panel" data-icon="bars" data-position="right" data-iconpos="notext">Online Friends</a>
            </div><!-- /header -->

            <div role="main" class="ui-content">
                <ul id="messages"></ul>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed">
                <input type="text" id="chatTextBox" autocomplete="off" placeholder="Send message..." />
                <a class="ui-btn-right" data-icon="carat-r" data-iconpos="right" id="sendChat">Send</a>
            </div><!-- /footer -->

            <!-- online users list -->
            <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="friend-panel">
                <ul data-role="listview" class="onlineUserList" id="userContainer">
                    <li class="caption">Friends Online:</li>
                </ul>
            </div><!-- /online users list -->
        </div><!-- /page -->

        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
        <script src="js/script.js"></script>
        <script type="text/javascript">
            jQuery('document').ready(function () {
                var chatHeight = jQuery(window).height() - jQuery('.action').height() - 15;
                jQuery('#msgcontainer').css('height', chatHeight + 'px');

                jQuery(window).resize(function(){
                    jQuery('#container').css('height','100%');
                });

                // Initiate SDNodeChat plugin
                var SDNodeChat = jQuery.initSDNodeChat({
                    server: 'http://127.0.0.1',
                    port: '8000',
                    chatContainer: jQuery('#messages'),
                    sendButton: jQuery('#sendChat'),
                    chatBox: jQuery('#chatTextBox'),
                    usersContainer: jQuery('#userContainer'),
                    enterToSend: true,
                    debug: true
                })
            });
        </script>
    </body>
</html>