<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SD-NodeChat</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <link href="css/style.css" rel="stylesheet" />
    </head>

    <body>
        <!-- login dialog -->
        <div data-role="page" id="login" data-dialog="true" data-close-btn="none">

            <div data-role="header">
                <h1>SD-NodeChat</h1>
            </div><!-- /header -->

            <div role="main" class="ui-content">
                <h2>What whould you like to be called?</h2>
                <input type="text" id="sd-username" name="username" placeholder="Username" data-clear-btn="true">
            </div><!-- /content -->

        </div><!-- /page -->

        <div data-role="page" id="chat">

            <div data-role="header" data-position="fixed">
                <h1>SD-NodeChat</h1>
                <a href="#friend-panel" id="userlist" data-icon="bars" data-position="right" data-iconpos="notext">Online Friends</a>
            </div><!-- /header -->

            <div role="main" class="ui-content">
                <ul id="messages"></ul>
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed">
                <input type="text" id="chatTextBox" autocomplete="off" placeholder="Send message..." />
                <a class="ui-btn-right" data-icon="carat-r" data-iconpos="right" id="sendChat">Send</a>
            </div><!-- /footer -->

            <!-- online users list -->
            <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="friend-panel">
                <ul data-role="listview" class="onlineUserList" id="userContainer">
                    <li class="caption">Friends Online:</li>
                </ul>
            </div><!-- /online users list -->
        </div><!-- /page -->

        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
        <script src="js/script.js"></script>
        <script type="text/javascript">
            jQuery('document').ready(function () {
                var SDNodeChat, username;

                var chatHeight = jQuery(window).height() - jQuery('.action').height() - 15;
                jQuery('#msgcontainer').css('height', chatHeight + 'px');

                jQuery(window).resize(function(){
                    jQuery('#container').css('height','100%');
                });

                if(!username){
                    //navigate to login window if user not defined yet
                    $.mobile.navigate('#login');
                }

                jQuery('#sd-username').bind('keypress', function (e) {
                    // check if key is enter key
                    if (e.keyCode == 13) {
                        username = this.value.trim();
                        if(username){
                            // Initiate SDNodeChat plugin
                            SDNodeChat = jQuery.SDNodeChat({
                                server: 'http://127.0.0.1',
                                port: '9999',
                                debug: true,
                                enterToSend: true,
                                username: username,
                                chatContainer: jQuery('#messages'),
                                sendButton: jQuery('#sendChat'),
                                chatBox: jQuery('#chatTextBox'),
                                usersContainer: jQuery('#userContainer')
                            });

                            SDNodeChat.init(function(){
                                // navigate to chat window.
                                $.mobile.navigate('#chat');
                            },
                            function(){
                                //navigate to login window.
                                $.mobile.navigate('#login');
                            });

                            // Bind click event to userlist
                            $('#userlist').click(function () {
                                SDNodeChat.getUserList();
                            });
                        }else{
                            //navigate to login window.
                            $.mobile.navigate('#login');
                        }
                    }
                });
            });
        </script>
    </body>
</html>